language: generic
addons:
        ssh_known_hosts: 125.212.227.42

before_install:
- openssl aes-256-cbc -K $encrypted_28f6367d4adc_key -iv $encrypted_28f6367d4adc_iv -in deploy_rsa.enc -out deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 deploy_rsa
- ssh-add deploy_rsa

deploy:
  provider: script
  skip_cleanup: true
  script: pwd && ls -lash $TRAVIS_BUILD_DIR/ && $encrypted_28f6367d4adc_key && scp $TRAVIS_BUILD_DIR/index.html hoangnm@125.212.227.42:/home/hoangnm/sources/
  on:
    branch: master