language: generic
addons:
        ssh_known_hosts: 125.212.227.42

before_install:
- openssl aes-256-cbc -K $encrypted_28f6367d4adc_key -iv $encrypted_28f6367d4adc_iv -in deploy_rsa.enc -out deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 deploy_rsa
- ssh-add deploy_rsa

deploy:
  provider: script
  skip_cleanup: true
  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/ hoangnm@125.212.227.42:/home/honagnm/sources/
  on:
    branch: master